@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@700&display=swap');

/* font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #03045E;
}

::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #03045E;
    opacity: 0.5;    
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.nav_logo {
    z-index: 10;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 30px;
}
nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: #0098FF;
}
.login_button {
    padding: 11px 35px;
    background-color: #03045E;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.login_button:hover {
    color: #FFFFFF;
    background-color: #0098FF;
}
nav i {
    display: none !important;
    font-size: 40px;
    color: #03045E;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 1000px) {
    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 110vh;
        top: -20px;
        left: -100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #0098FF;
        transition: all 0.3s ease;
    } 
    .active ul {
        left: 0%;
    }
    nav ul li a {
        color: #FFFFFF;
    }
    nav ul li a:hover {
        color: #FFFFFF;
    }
    .login_button {
        padding: 11px 35px;
        background-color: #0098FF;
        color: #FFFFFF;
        border-radius: 5px;
        transition: all 0.3s ease;
    } 
    .active i {
        color: #FFFFFF;
    }
    nav i {
        display: block !important;
    }
}
@media (max-width: 600px) {
    .nav_logo {
        width: 100px;
    }
    nav i {
        font-size: 30px;
    }
}

.home {
    background-color: #F6F6F6;
    min-height: 950px;
    padding: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.home_text {
    max-width: 585px;
}
.home_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #03045E;
}
.home_p {
    margin: 35px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(3, 4, 94, 0.5);
}
.home_button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

    width: max-content;

    padding: 17px 38px;
    background-color: #0098FF;
    border-radius: 5px;
    transition: all 0.3s ease;   
}
.home_button:hover {
    color: #FFFFFF;
    background-color: #03045E;
}
@media (max-width: 1350px) {
    .home {
        background-color: #F6F6F6;
        min-height: 1200px;
        padding: 50px;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;

        text-align: center;
    }    
}
@media (max-width: 800px) {
    .home_img {
        width: 90%;
    }
}

.search {
    width: 100%;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 69px;
}
.search_dm {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: right;
}
.search_dm label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #03045E;
    padding: 0px 10px;
}
.t {
    display: flex;
} 
.search_dm_input {
    padding: 20px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #03045E;
    background: #F6F6F6;
    border-radius: 5px;
    max-width: 566px;
}
.search_dm_button {
    padding: 11px 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #0098FF;
    cursor: pointer;
}
.domains {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 30px;
}

.domains {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(3, auto);
}

.box_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #0098FF;
}
.box_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #03045E;

    opacity: 0.3;
}
@media (max-width: 940px) {
    .search {
        width: 100%;
        height: 600px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        column-gap: 69px;
        row-gap: 69px;
    }
    .domains {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 0px;
        padding-left: 0px;
        padding-top: 30px;
    }
}
@media (max-width: 500px) {
    .search {
        height: 700px;
    }
    .search_dm {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }
    .t {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        row-gap: 10px;
    }
    .t input {
        width: 80%;
    }
    .domains {
        grid-template-columns: repeat(2, auto);
    }
}

.service {
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #03045E;   

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.sec_boxs {
    margin-top: 60px;
    display: grid;
    column-gap: 70px;
    row-gap: 80px;
    grid-template-columns: repeat(3, 300px);   
}
.sec_box {
    text-align: center;
}
.sbox_logo {
    padding: 20px;
    background: #F6F6F6;
    border-radius: 10px;
}
.sbox_name {
    margin: 30px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    
    color: #03045E;   
}
.sbox_desc {
    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #03045E;
    opacity: 0.5;
}
@media (max-width: 1138px) {
    .sec_boxs {
        grid-template-columns: repeat(2, 300px);   
    }   
}
@media (max-width: 738px) {
    .sec_boxs {
        grid-template-columns: repeat(1, 300px);   
    }   
}
@media (max-width: 362px) {
    .sec_boxs {
        grid-template-columns: repeat(1, 250px);   
    }   
}